/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  /* общее */
  --main-font: 'IBM Plex Mono', 'sans-serif';
  --focus-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --main-padding-decoration: 20px;
  --header-and-footer-margin-section: 60px;
  --main-margin-section: 80px;
  --section-img-margin: 20px;
/* темная тема */
--bg-image: url(../images/cover-image-dark.png);
--bg-color: black;
--focus-color: #DB00FF;
--color-with-accent: #000028;
--accent-color: #FF0070;
--accent-color-hover: #ff007066;
--paragraph-font-color: #F1B2CE;
--border-button-color: #FF0070;
--border-a-color: #F1B2CE;
--title-section-color: #FF0070;
}

@media (max-width: 576px) {
  :root {
    --main-padding-decoration: 10px;
    --focus-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --header-and-footer-margin-section: 40px;
    --main-margin-section: 50px;
    --section-img-margin: 10px;
  }
  
}